@media (max-width: 1500px) {
}

@media (max-width: 1200px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }
  .activites-section p,
  .project-section p {
    font-size: 18px;
  }
  .banner {
    height: 650px;
    padding: 0 4%;
  }

  .research-box p {
    font-size: 20px;
  }

  .card {
    margin-bottom: 30px;
  }
  .project-section {
    padding: 100px 0 100px;
  }
}

@media (max-width: 992px) {
  .partner-logo img {
    width: 195px;
    margin-bottom: 30px;
  }
  footer .rees-btn .btn-primary .arrow-first {
    margin-left: 17px;
  }
}

@media (max-width: 776px) {
  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 23px;
  }

  .rees-btn .btn-primary,
  .link-with-arrow {
    font-size: 16px;
  }

  .research-box p {
    font-size: 18px;
  }
}

@media (max-width: 567px) {
  .partner-logo {
    justify-content: center;
  }

  .activites-section h2,
  .project-section h2 {
    padding-bottom: 30px;
  }
  .banner .rees-btn .btn-primary {
    max-width: 350px;
    font-size: 14px;
    padding: 15px 20px;
  }

  .banner .rees-btn .btn-primary .arrow-first {
    margin-left: 17px;
  }
}
