@import url(style.css);

@media (max-width: 1500px) {
}

@media (max-width: 1200px) {
  h2 {
    font-size: var(--font-size-4xl);
  }

  h3 {
    font-size: var(--font-size-3xl);
  }

  h4 {
    font-size: 25px;
  }
  .activites-section p,
  .project-section p {
    font-size: var(--font-size-lg);
  }
  .banner {
    height: 650px;
    padding: 0 4%;
  }

  .research-box p {
    font-size: var(--font-size-xl);
  }

  .card {
    margin-bottom: 30px;
  }
  .project-section {
    padding: 100px 0 100px;
  }
  .watermark img{
    object-fit: contain;
    max-width: 500px;
  }
  .pull-me{
    left: -230px !important;
  }
  .pull-me svg {
    transform: scale(0.7);
  }
  .content-title h1{
    font-size: var(--font-size-4xl);
  }
  .left-sidebar .nav-link,
  .right-content p{
    font-size: var(--font-size-base);
  }
  .right-content h2{
    font-size: var(--font-size-3xl);
  }
  .mb-78{
    margin-bottom: 60px;
  }
  .mb-36{
    margin-bottom: 30px;
  }
  .pull-me svg{
    transform: scale(0.8);
  }
  .team-bottom-box h2{
    font-size: var(--font-size-5xl);
  }
  .team-bottom-box p{
    font-size: var(--font-size-xl);
  }
  .cta-yellow-box{
    padding: 50px 70px;
  }
}

@media (max-width: 992px) {
  .partner-logo img {
    width: 195px;
    margin-bottom: 30px;
  }
  footer .rees-btn .btn-primary .arrow-first {
    margin-left: 17px;
  }
  .content-title h1{
    font-size: var(--font-size-4xl);
  }
  .pull-me{
    display: none;
  }
  .partner-logo-scale li{
    margin: 0;
    padding: 20px;
  }
  .cta-yellow-box{
    padding: 45px;
  }
  .boxed-item{
    padding:50px 30px;
  }
  .mb-78{
    margin-bottom: 50px;
  }
  .mb-36{
    margin-bottom: 25px;
  }
  .team-members{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-box-btm h4, .team-box-btm h5 {
    font-size: var(--font-size-xl);
  }
}

@media (max-width: 776px) {
  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 23px;
  }

  .rees-btn .btn-primary,
  .link-with-arrow {
    font-size: 16px;
  }

  .research-box p {
    font-size: var(--font-size-lg);
  }
  .content-title h1{
    font-size: var(--font-size-3xl);
  }
  .right-content h2 {
    font-size: var(--font-size-2xl);
  }
  .mb-78{
    margin-bottom: 40px;
  }
  .mb-36{
    margin-bottom: 20px;
  }
  .left-sidebar{
    padding-left: 0;
  }
}

@media (max-width: 567px) {
  .partner-logo {
    justify-content: center;
  }

  .activites-section h2,
  .project-section h2 {
    padding-bottom: 30px;
  }
  .banner .rees-btn .btn-primary {
    max-width: 350px;
    font-size: 14px;
    padding: 15px 20px;
  }

  .banner .rees-btn .btn-primary .arrow-first {
    margin-left: 17px;
  }
  .main-content {
    padding-bottom:20px;
  }
  .content-title h1{
    font-size: var(--font-size-2xl);
  }
  .content-title img{
    height: 200px;
  }
  .right-content h2{
    font-size: var(--font-size-xl);
  }
  .position-me{
    height: max-content;
    height: 100%;
  }
  .mb-78{
    margin-bottom: 30px;
  }
  .mb-36{
    margin-bottom: 15px;
  }

}
